.DS_Store
*.pyc
.DS_Store
*/.DS_Store
*.model.*
*.a*
*.b*
*.l*
*.sift*
*.brisk*
shape_of_in_and_out*
a_channel_chroma_paths
b_channel_chroma_paths
l_channel_luminance_paths
brisk_paths
sift_paths
model/*
dataset/train/*
dataset/test/*

brisk_features
model
predicted_images

predicted_a_chroma
predicted_b_chroma
shape_of_in_and_out
predicted_images
brisk_features
sift_features
dataset
