.DS_Store
*.pyc
*.model.*
*.a_channel_chroma
*.b_channel_chroma
*.l_channel_luminance
a_channel_chroma_paths
b_channel_chroma_paths
l_channel_luminance_paths
brisk_paths

predicted_a_chroma
predicted_b_chroma
shape_of_in_and_out

predicted_images

brisk_features

dataset
